* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  line-height: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background-color: rgb(18 60 72);
  color: white;
}

#content {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

button:hover {
  cursor: pointer;
}

header {
  margin-top: 2%;
  background-color: rgb(242 191 123);
  box-shadow: 2px 2px 4px #000000;
}

nav {
  padding: 16px;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  gap: 16px;

}

nav>button {
  padding: 2px 12px;
  font-size: 1.2em;
  border-radius: 1.5em;
  box-shadow: 2px 2px 4px #000000, -2px 2px 4px #000000;
  border: 2px solid black;
  transition: box-shadow .2s linear, transform .2s linear;
}

nav>button:hover {
  box-shadow: -4px 4px #010101;
  transform: translate(4px, -4px);
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.hero>img {
  width: 600px
}

.hero__description {
  margin-top: 60px;
  width: 600px;
}

.hero__description>h1 {
  font-size: 1.5em;
  margin-bottom: 12px;
}

.menu {
  background-color: rgb(254, 247, 217);
  box-shadow: 2px 2px 4px #000000;
  color: black;
  width: 600px;
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
}

.menu__title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 60px;
}

.menu__item {
  border-bottom: 2px solid black;
  padding: 20px 0px;
}

.menu__item:last-child {
  border-bottom: none;
}

.menu__item__header {
  display: flex;
  justify-content: space-between;
}

.menu__item__description {
  margin-top: 6px;
  font-size: .8em;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.contact__map {
  width: 600px;
}

.contact__header {
  margin-top: 60px;
  width: 400px;
}

.contact__title {
  margin-bottom: 20px;
  font-size: 2em;
}

.contact__header__items {
  display: flex;
  flex-direction: column;
  gap: 4px;
}