* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background-color: rgb(18 60 72);
  color: white;
}

header {
  margin-top: 2%;
  background-color: rgb(242 191 123);
}

.hero {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.hero__description {
  max-width: 0 1 min(600px, 100%);
  max-width: min(600px, 100%);
}

.hero>img {
  max-width: min(600px, 100%);
}